body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 16px;
  background: #FFFF66;
  align-items: center;
  display: flex;
  flex-direction: column;
}


button, input {
  display: inline-block;
  margin-top: 30px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 2px solid rgb(65, 44, 132);
  background-color: white;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 15px;
  color: rgb(65, 44, 132);
}

.stop {
  margin-top: 30px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 2px solid rgb(65, 44, 132);
  background-color: red;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 15px;
  color: rgb(65, 44, 132);

}